* {
}

body {
  /* Cu font-family includem font-ul. Font-ul de dupa virgula este cel care va fi afista in caz ca primul font nu este disponibil */
  font-family: "Roboto", sans-serif;
}
/* 'Roboto', */
h1 {
  /* Cu font-size setam dimensiunea font-ului. */
  font-size: 28px;
}

em {
  /* Pentru a face fontul italic, folosim font-style */
  font-style: italic;
}

strong {
}

 p .test {
  background-color: red;
}

 p {
  background-color: green;
}

.card {

}

.card__image--round
.card__image--square

.card__description